#icon{
    width: 20px;
     cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease; 
        font-weight: 700;
}
#icon:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}

#navbar{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    
}
#search1{
     display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}
#login{
    display: flex;
    
    
}
#inputsearch{
    all: unset;
    border-bottom: 3px solid white;
}
#login{
    display: flex;
    gap: 20px;
    
}

input::placeholder {
    color: rgb(104, 146, 151);
    opacity: 1;
    

}
.butlog{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background-color:#2d1c30;
    color: white;
    border:#2d1c30 solid;
    cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease; 
        font-weight: 700;
    font-size: 13px;

    
}

.butlog:hover {
    transform: scale(1.09);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
        font-size: 13px;
         border: none; 
  text-decoration: none;
   font-weight: 700;

}

.react-stars span {
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

.react-stars span:hover {
  transform: scale(1.2); 
  color: blue;
}

.react-stars span:hover ~ span {
  transform: none;
}


#logo img{
    width: 200px;
padding-top: 10px;
  transition: transform 0.2s ease, color 0.2s ease;

}
#logo img:hover{
   
  transform: scale(0.96); 

}

#search{
    padding-top: 0px;
    /* border: solid; */
}